* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(115deg,
      #0096c7,
      #0077b6,
      #023e8a,
      #023e8a,
      #0077b6,
      #0096c7);
  background-attachment: fixed;
  color: white;
  font-family: 'Geist Sans', sans-serif;
}

header {
  width: 100%;
  padding: 15px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100px;
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

a:visited {
  color: inherit;
}

li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 40px;
  font-family: inherit;
}

.menu_footer, footer h3 {
  font-size: 15px;
  font-weight: lighter;
  font-family: Geist Sans, sans-serif;
}

.btn_menu {
  padding: 15px 30px;
  background-color: #ff5c8a;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}