img {
    height: 600px;
    width: auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fde2e4;
    min-height: 100vh;
}

.infos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

span {
    padding: 8px 14px;
    background-color: #ff97b7;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 12px;
}

.infos-gerais {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn-redirecionar{
    margin-top: 5px;
    padding: 10px 16px;
    background-color: #ff97b7;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 12px;
}